<div class="bg-card">
  <br/>
  <br/>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <div class="header-content">
        <mat-card-title class="header-title">地址池管理</mat-card-title>
        <mat-card-subtitle class="header-describe">统一管理和分配静态 IP 地址, 每个容器组都可以拥有独立的静态 IP</mat-card-subtitle>
        </div>
      </mat-card-header>
      <br/>
      <mat-card-content>
        <app-address></app-address>
      </mat-card-content>
    </mat-card>
  <br/>
  <br/>
</div>

